.category_container{
    /* background: rgb(226, 171, 171); */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 5rem;
}

.divider_container{
    display: grid;
    place-items: center;
}

.divider{
    width: 60%;
    height: 1px;
    background: rgb(105, 105, 105);
}

.preview_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 4rem;
    /* background: gold; */
}