.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: gold; */
    font-family: "Cormorant";
}

.article_container{
    /* background: rgb(103, 173, 113);    */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.article_content{
    width: 75%;
    /* background: tomato; */
}

.article_title{
    /* background: darkcyan; */
    padding: 1rem;
    text-decoration: underline;
    letter-spacing: 0.15rem;
}

.article_description{
    font-style: italic;
    color: rgb(150, 150, 150);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.divider{
    width: 75%;
    height: 1px;
    background: rgb(105, 105, 105);
    margin-bottom: 1rem;
}


  