.gallery_container{
    /* background: lemonchiffon; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    /* padding: 0 10rem; */
    /* width: 60vw; */
    margin-top: 5rem;
}

.gallery_container:hover{
    cursor: pointer;
}

/* .modal_container{
    height: 100%;
    width: 100%;
} */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.modal_image_container{
    height: 100%;
    width: 100%;
    /* background: white; */
    display: grid;
    place-items: center;
}

.modal_image{
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.modal_text_container{
    background: rgba(237, 237, 237, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    font-family: "Cormorant";
}

.modal_title{
    font-size: 1.5rem;
}

.symbol_container{
    color: rgb(105, 105, 105);
    transition: all 0.3s ease-in;
}

