.menu{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-self: end;
    gap: 1rem;
    margin-right: 1rem;
    /* background: paleturquoise; */
    font-family: "Cormorant";
    text-decoration-line: none;
}

.menu_item{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 0.5rem 0.5rem;
    /* background: tomato; */
    transition: all 0.3s ease-out;
    letter-spacing: 0.15rem;
}

.menu_item:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*  */

@media (max-width: 1040px){
    .menu{
        gap: 0rem;
        margin-right: 0;
    }
    .menu_item{
        letter-spacing: normal;
        font-size: 1rem;
    }   
}

@media (max-width: 850px){
    .menu{
        display: none;
    }
}
