.outer_container{
    /* background: gold; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cormorant";
    position: relative;
}

.main_container{
    /* background: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.title{
    padding: 1rem;
    text-decoration: underline;
    letter-spacing: 0.15rem;
}

.content{
    width: 75%;
}

.navigate_button{
    background: rgba(237, 237, 237, 0.5);
    position: fixed;
    left: 2rem;
    top: 7rem;
    transition: all 0.3s ease-out;
    padding: 0.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    backdrop-filter: blur(5px);
    z-index: 999;
}

.navigate_button:hover{
    background: black;
    color: white;
}

.dataType{
    margin:  0;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: dashed underline;
}

.divider{
    width: 60%;
    height: 1px;
    background: rgb(105, 105, 105);
    margin: 2rem;
}

.main_img{
    /* width: 100vw; */
}

@media (max-width: 1080px){
    .title{
        margin-top: 2rem;
    }
    .main_container{
        width: 100%;
    }
    .content{
        width: 90%;
    }
}

@media (max-width: 420px){
    .navigate_button{
        left: auto;
    }
}