/* import these styles at the top of globals.css */

/* figure */
.wp-block-image{  
    background: #dcdcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    position: relative;
}

/* img */
.wp-block-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* caption */
.wp-element-caption{
    font-size: 1rem;
    padding: 0 0.5rem;
    margin: 0.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

/* gallery */
.wp-block-gallery{
    /* background: gold; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    width: 75%;
}

/* gallery figure */
.wp-block-gallery .wp-block-image{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
    place-items: center;
    width: 100%;
    height: 500px;
    gap: 1rem;
}

/* gallery figure img */
.wp-block-gallery .wp-block-image img{
    /* border: 5px solid dodgerblue; */
    height: 100%;
    object-fit: cover;
}

/* gallery figure caption */
.wp-block-gallery .wp-element-caption{
    /* background: white; */
    display: flex;
    align-items: center;
    /* height: 100%; */
}

.alignright{
    align-self: flex-end;
}