.container{
    background: lemonchiffon;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    text-align: center;
}

.card{
    background: gainsboro;
    padding: 1rem;
    width: 100%;
}

.title{

}

.preview_image{

}

.description{
    
}