.category_container{
    background: rgb(226, 171, 171);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    gap: 1rem;
}

.category_card{
    position: relative;
    width: 100%;
    height: 100%;
}

.category_card_title{
    position: absolute;
    top: 0;
    z-index: 1;
    color: crimson;
}

.category_card_img{
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;
    object-fit: cover;
}

.category_card:hover{
    background: paleturquoise;
}