.article{
    background: gainsboro; 
    padding: 2rem;
    margin: 1em;
    border-radius: 10px;
    width: 300px;
    margin-top: 3em;
 }
 
 .article_description{
     background: rgb(112, 166, 216)
 }
 
 .article_content{
     background: rgb(238, 175, 219);
 }
 
 .h2{
     background: white;
 
 }