.post{
    background: gainsboro; 
    padding: 1rem;
    /* height: 200px; */
    width: 100%;
    transition: all 0.3s ease-out;
 }
 
 .post_description{
    background: palevioletred; 
 }
 
 .post_content{
    background: rgb(175, 238, 206);
 }
 
 .h2{
    background: white;
 
 }

 .post:hover{
    opacity: 50%;
 }