.header{
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding: 0.5em;
    gap: 1em;
}

.header_title{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    /* background: rgb(206, 81, 81); */
    width: 50%;
}