.menu{
    font-size: 1rem;
    letter-spacing: 0.15rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu_dropdown{
    position: relative;
    text-align: center;
}

.menu_title{
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-out;
    animation: fade 0.3s ease-out 1 forwards paused;
    opacity: 0;
}

@keyframes fade{
    100%{
        opacity: 1;
    }
}

.menu_dropdown_link{
    padding: 1rem;
    display: flex;
    justify-content: center;
    animation: fade 0.3s ease-out 1 forwards paused;
    opacity: 0;
}

.menu_title_clicked, .menu_dropdown_link_clicked{
    animation-play-state: running;
}



.menu_content{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: all 0.3s ease-out;
    right: 100%;
    top: 0;
}

.menu_content_item{
    background: rgb(255, 255, 255);
    color: black;
    padding: 1rem;
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
}

.menu_dropdown:hover .menu_content{
    display: block;
}

.menu_dropdown_link:hover,
.menu_content_item:hover, 
.menu_title:hover{
    background: gold;
    color: black;
    cursor: pointer;
}

.menu_dropdown:hover .menu_dropdown_link{
    background: gold;
    color: black;
}

@media (max-width: 1450px){
    .menu{
        font-size: 12px;
    }

}

.menu_title_1{
    animation-delay: 0.1s;
}
.menu_title_2{
    animation-delay: 0.2s;
}
.menu_title_3{
    animation-delay: 0.3s;
}
.menu_title_4{
    animation-delay: 0.4s;
}
.menu_title_5{
    animation-delay: 0.5s;
}