.container{
    display: flex;
}

.menu{
    font-size: 1rem;
    letter-spacing: 0.15rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: left;
    height: 100%;
    width: 100%;
}


.menu_title{
    padding: 1rem;
    transition: all 0.3s ease-out;
    animation: fade 0.3s ease-out 1 forwards paused;
    opacity: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.menu_dropdown{
    position: relative;
    text-align: center;
    width: 100%;
}

.menu_dropdown_link{
    /* padding: 1rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    animation: fade 0.4s ease-out 1 forwards paused;
    opacity: 0;
    height: 3rem;
    width: 100%;
}

.submenu_button{
    padding: 1rem;
    margin-left: 1rem;
    background: gold;
    color: black;
    position: relative;
    right: 0;
    visibility: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3rem;
}

.menu_content{
    display: none;
    position: absolute;
    z-index: 1;
    width: max-content;
    transition: all 0.3s ease-out;
    right: 100%;
    top: 0;
}

.menu_content_clicked{
    display: block;
}

.menu_content_item{
    background: rgb(255, 255, 255);
    color: black;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    opacity: 0;
    transition: all 0.3s ease-out;
    animation: fade 0.4s ease-out 1 forwards paused;
}

.clicked{
    animation-play-state: running;
}

.test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: rgb(212, 206, 206);
    color: black;
    width: 3rem;
}

.test_button{
    background: gold;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.test_button_clicked{
    background: white;
}

.test_button:hover{
    cursor: pointer;
}

.menu_dropdown:hover .menu_content{
    display: block;
}

.menu_dropdown_link:hover,
.menu_content_item:hover, 
.menu_title:hover{
    background: gold;
    color: black;
    cursor: pointer;
}

.menu_dropdown:hover .menu_dropdown_link{
    background: gold;
    color: black;
}

@keyframes fade{
    100%{
        opacity: 1;
    }
}

@media (max-width: 1450px){
    .menu{
        font-size: 12px;
    }

}

@media only screen and (hover: none) and (pointer: coarse){

    /* Mobile rules here */
    .submenu_button{
        display: flex;
        visibility: visible;
    }
    
}

.delay_1{
    animation-delay: 0.1s;
}
.delay_2{
    animation-delay: 0.15s;
}
.delay_3{
    animation-delay: 0.2s;
}
.delay_4{
    animation-delay: 0.25s;
}
.delay_5{
    animation-delay: 0.3s;
}