.menu{
    font-size: 16px;
    letter-spacing: 0.15rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    height: 100%;
    /* background: rosybrown; */
}

.menu_dropdown{
    position: relative;
    text-align: center;
}

.menu_title{
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-out;
}

.menu_content{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    transition: all 0.5s ease-out;
}

.menu_content_item{
    background: black;
    padding: 1rem;
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
}

.menu_dropdown:hover .menu_content{
    display: block;
}

.menu_dropdown:hover .menu_title, 
.menu_content_item:hover, 
.menu_title:hover{
    background: gold;
    color: black;
    cursor: pointer;
}