.header{
    background: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 3rem;
    height: 3rem;
}

.header_title{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    /* width: 25%; */
    padding-left: 1rem;
    height: 3rem;
    /* background: deepskyblue */
}

.menu_container{
    width: max-content;
    position: absolute;
    right: 0px;
    top: 3rem;
    z-index: 2;
    background: rgb(0, 0, 0);
    display: none;
    transition: all 0.2s ease-out;
}

.menu_container_clicked{
    width: max-content;
    position: absolute;
    right: 0px;
    top: 3rem;
    z-index: 2;
    background: rgb(0, 0, 0);
    display: flex;
    transition: all 0.2s ease-out;
}

.menu_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gold;
    color: black;
    height: 3rem;
    transition: all 0.5s ease;
}

.menu_button_clicked{
    background: white;
    color: black;
}

.header_title a{
    transition: all 0.3s ease-out;
}

.header_title a:hover{
    color: gold;
}

.menu_button:hover, .menu_button_clicked:hover{
    cursor: pointer;
}
