.header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: black;
    color: white;
    gap: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_title{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    width: 25%;
    padding-left: 1rem;
    /* background: deepskyblue */
}

.menu_container{
    width: 75%;
}

.header_title a{
    transition: all 0.3s ease-out;
}

.header_title a:hover{
    color: gold;
}