.post_container{
    background: gold;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.article_content{
    display: flex;

    width: 50%;
}

.main_container{
    height: 100vh;
}