.footer{
    position: fixed;
    bottom: 0;
    background: rgba(237, 237, 237, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem 3rem;
    gap: 2rem;
    transition: background 0.3s ease-out;
    font-family: "Cormorant", sans-serif;
    width: 100%;
    backdrop-filter: blur(5px);
}

.footer:hover{
    background: black;
    color: white;
}

.footer:hover .icon{
    fill: white;
}

.footer_left, .footer_right{
    display: flex;
}

.footer_left{
    align-items: center;
}

.footer_right{  
    justify-content: end;
    gap: 2rem;
}

.footer_right a{
    display: flex;
    align-items: center;
}

.icon{
    height: 1.5rem;
    transition: transform 0.1s ease-out;
}