.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: gold;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    transition: background 0.3s ease-out;
}

.footer a{
    display: flex;
    align-items: center;
}

.icon{
    height: 2rem;
}

.footer:hover .icon{
    fill: gold;
}

.footer:hover{
    background: black;
}

.icon:hover{
    transform: scale(1.5);
}